.roulette
  .roulette__number
    -# 3は何個の場所に入力された数（つまり変数化）
    - 3.times do |i|
      -# -1はcheck boxに印が入っていたら発動
      -# 6は何面体の場所に入力された数（つまり変数化）
      #{rand(1-1..6)}
    個
  -# 個は単位の場所に入力された単位（つまり変数化）
  -# ここも入力された単位をランダム表示にしたい
